{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ConnectedIn</title>
        <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}" >
        <link rel="stylesheet" href="{% static "styles/main.css" %}" >
    </head>
    <body>
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url 'index' %}">{{ perfil_logado.nome }}</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
            <h3 class="text-muted">ConnectedIn</h3>
        </div>

        <div class="row content">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
